{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
<div class="l-container">
  {{ if not .IsHome }}
  <header class="p-page-title">
    <h1 class="title">{{ .Title }}</h1>
  </header>
  {{ end }}

  <div class="searchbar">
      <iframe src="https://duckduckgo.com/search.html?site=https://onthedock.github.io/&prefill=Busca en este sitio usando DuckDuckGo" style="width: 25em;height: 48px" frameborder="0"></iframe>
  </div>

  <img src="{{ .Site.BaseURL }}/images/MabelAmber-mini.png" class="p-articles" width="100%">
  <!--<img src="{{ .Site.BaseURL }}/images/MabelAmber-pixabay-dock-1846008.png" class="p-articles" width="100%">-->
  <p style="text-align: right"><small><a href="https://www.pexels.com/photo/jetty-feet-sign-wooden-128299/">Photo</a> by <a href="https://www.pexels.com/u/mabelamber/">Mabel Amber</a></small></p>
   
  <ul class="p-articles">
    {{ range .Paginator.Pages }}<li>{{ .Render "li" }}</li>{{ end }}
  </ul>
</div>

{{ partial "pagination.html" . }}
{{ end }}

